#pages-solopage-buttons {
    display: flex;
    flex-direction: column;
}

.pages-solopage-button {
    max-width: 100px;
    padding: 8px;
    margin: 6px;
    font-family: "Roboto", sans-serif;
    background-color: #F99;
    border: none;
}

.pages-solopage-button:hover {
    cursor: pointer;
    font-weight: 600;
}