#pages-solopage-game-display {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#pages-solopage-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pages-solopage-button {
  max-width: 100px;
  padding: 8px;
  margin: 6px;
  font-family: "Roboto", sans-serif;
  background-color: #f99;
  border: none;
}

.pages-solopage-button:hover {
  cursor: pointer;
  font-weight: 600;
}
