header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-style: italic;
}

nav {
    display: flex;
}

.layout-nav-navlink {
    font-family: "Roboto", sans-serif; 
    font-weight: 400;
    margin: 4px;
}